@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&family=Titan+One&display=swap');

body {
    background-color: #00457f;
    color: white;
    font-family: 'Nunito', Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    align-items: flex-start; /* Align content to the top */
    justify-content: center;
    height: 100vh;
}

.holder {
    background-color: #0070cc;
    color: white;
    position: relative;
    padding: 20px;
    width: 30vw;
    max-width: 450px;
    min-height: 200px;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3), inset 0 -6px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    overflow: hidden;
    transform: translateY(10vh); /* Shift the container upwards */
}

.title {
    font-family: 'Titan One', Arial, Helvetica, sans-serif;
    font-size: 2rem;
    margin-bottom: 10px;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
    font-weight: 0;
}

.quote {
    font-family: 'Nunito', Arial, Helvetica, sans-serif;
    font-size: 1.2rem;
    line-height: 1.5;
    margin: 0 0 20px;
    white-space: pre-wrap; /* Allows multi-line quotes */
}

.download-button {
    font-family: 'Nunito', Arial, Helvetica, sans-serif;
    font-size: 1rem;
    color: white;
    background-color: #00457f;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    cursor: pointer;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    transition: background-color 0.3s, transform 0.2s;
}

.download-button:hover {
    background-color: #002d4d;
    transform: scale(1.05);
}

.download-button:active {
    transform: scale(0.95);
}
